<div class="row">
  <% @users.each do |user| %>
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <%= link_to user_avatar(user.avatar_path, size: '80x80'), user %>
          <div class="caption">
            <h3><%= link_to user.name, user, class: 'link_class1' %></h3>
            <p><%= truncate(user.info.resume, length: 30) %></p>
            <p>
              <a href="#" class="btn btn-primary" role="button">Button</a> 
              <a href="#" class="btn btn-default" role="button">Button</a>
            </p>
          </div>
        </div>
      </div>
  <% end %>
</div>