<div class="jumbotron">
  <h1>一起去探索属于创客的领域!</h1>
  <p>...</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Go</a></p>
</div>
<h1><%= t(:hello) %></h1>

<%= link_to "中文版", :controller => controller_name, :action => action_name, :locale => "zh-CN" %>
<%= link_to "English", :controller => controller_name, :action => action_name, :locale => "en" %>