# Add configuration values here, as shown below.
#
# pusher_app_id: "2954"
# pusher_key: 7381a978f7dd7f9a1117
# pusher_secret: abdc3b896a0ffb85d373
# stripe_api_key: sk_test_2J0l093xOyW72XUYJHE4Dv2r
# stripe_publishable_key: pk_test_ro9jV5SNwGb1yYlQfzG17LHK
#
# production:
#   stripe_api_key: sk_live_EeHnL644i6zo4Iyq4v1KdV9H
#   stripe_publishable_key: pk_live_9lcthxpSIHbGwmdO941O1XVU


# 七牛
qiniu_access_key: 'qiniu_access_key'
qiniu_secret_key: 'qiniu_secret_key'
qiniu_scope: "qiniu_scope"
qiniu_expires_in: qiniu_expires_in
qiniu_uptoken_url: "/upload/qiniu/image_up_token"
qiniu_upload_url: "qiniu_upload_url"

# 发邮件sendcloud
address: "http://sendcloud.sohu.com/webapi/mail.send.json"
api_user: "api_user"
api_key: "api_key"
from_email: "747549945@qq.com"
from_name: 'free'
# domain_from_email: 

# 管理员
admin: "xxx"

# redis配置
redis_host: localhost
redis_port: 6379
#redis_password: ''

# 第三方登录
GITHUB_KEY: GITHUB_KEY
GITHUB_SECRET: GITHUB_SECRET

QQ_CONNECT_APP_KEY: QQ_CONNECT_APP_KEY
QQ_CONNECT_APP_SECRET: QQ_CONNECT_APP_SECRET

WEIBO_KEY: WEIBO_KEY
WEIBO_SECRET: WEIBO_SECRET

DOUBAN_KEY: DOUBAN_KEY
DOUBAN_SECRET: DOUBAN_SECRET

OPEN_WECHAT_KEY: OPEN_WECHAT_KEY
OPEN_WECHAT_SECRET: OPEN_WECHAT_SECRET

# 监控
newrelic_key: newrelic_key