<form class="navbar-form navbar-right" role="search" action="<%= collection_path %>">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Search" name="q">
  </div>
  <button type="submit" class="btn btn-default">搜索</button>
</form>
