<div class="row">
  <div class="posts-count">
    <strong>* 共有 <%= @posts.count %> 篇文章</strong>
  </div>
  <div id="posts">
    <%= render @posts %>
  </div>
</div>
<%= will_paginate @posts, class: "endless_paginate" %>

<%= javascript_include_tag 'tools/endless_page' %>