// @include border-radius(10px);
// 圆角
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

$border-color: #BBB;
$font-color: #777;
$line-color: #ddd;

.font-family-normal {
	font-family: 'Helvetica Neue', Helvetica, Arial, 'Hiragino Sans GB', 'Heiti SC', 'Microsoft YaHei UI', 'Microsoft YaHei', sans-serif;
}