<!-- <footer class="footer">
  <small>
    <a href="#"></a>

  </small>
  <nav>
    <ul>
      <li><%= link_to "关于",   "#" %></li>
      <li><%= link_to "联系", "#" %></li>
      <li><a href="#">News</a></li>
    </ul>
  </nav>
</footer>
 -->