<footer class="footer">
  <small>
    <a href="#">© 2015 All Rights Reserved. xxx</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "关于",   "#" %></li>
      <li><%= link_to "联系", "#" %></li>
      <li><a href="#">加入</a></li>
    </ul>
  </nav>
</footer>